/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.input-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    width: 100%; /* Responsivo: inputs ocupam 100% da largura */
    padding: 10px;
    margin: 5px 0; /* Adiciona espaçamento entre os inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o padding não extrapole a largura */
}

button {
    padding: 10px 20px;
    background-color: #5CBB61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Responsivo: botão ocupa toda a largura */
    margin-top: 10px;
}

button:hover {
    background-color: #4aa34f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.total {
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    th, td {
        font-size: 14px;
    }

    .input-area {
        flex-direction: column;
    }

    input, button {
        width: 100%;
        margin-bottom: 10px;
    }

    .total {
        font-size: 16px;
    }
}
